
@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    background-color: #0a101e;
    color: #a9adb8;
}

header {
    background-color: rgba(7, 13, 27);
}

.change .bar1 {
    @apply -rotate-45 -translate-x-103 translate-y-101
}
.change .bar2 {
    @apply opacity-0 
}
.change .bar3 {
    @apply rotate-45 -translate-x-103 -translate-y-101
}

.toggled .navbar {
    @apply block
}

.timeline {
    @apply before:absolute before:border-2 before:border-bgray before:rounded-full before:bg-dblue before:w-[16px] before:h-[16px] before:left-3 before:top-2 before:z-20
}
.timeline:hover::before {
    background-color: #fec544;
}
.after {
    @apply after:absolute after:w-[1px] after:bg-bgray after:left-5 after:h-full after:top-2
}
